@model SignInSignUp.Models.Employee
@{
    ViewBag.Title = "Add New Employee";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <style>
        .main_container {
            margin: 0 15px;
            text-align: center;
        }

        td {
            text-align: left;
        }

        .lebels {
            font-weight: bold;
        }

        .custom-table td {
            padding: 5px;
            border: none !important; /* Remove borders from all table cells and give it higher priority */
        }

        .table-parent {
            padding: 20px 0 15px 40px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
        }

        .form-group {
            margin-bottom: 13px;
        }

        .information {
            font-weight: bold;
            background-color: #F6F1FF;
            color: black;
            text-align: left;
            padding: 15px 0 10px 15px;
            box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.1);
        }

            .information p {
                margin-bottom: 0;
            }

        .form-control{
            width:70%;
        }
    </style>
</head>

<body style="background-color: #F8F3FF ">

    @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post))
    {
        @Html.AntiForgeryToken()




        <div class="main_container">
            <h2 class=" mb-2 mt-3">Add New Employee</h2>

            <div class="top-button">
                <a class="btn btn-secondary add_new_vendor" href="@Url.Action("Index", "Employee")" role="button">Back To List</a>
            </div>

            <div class="information">
                <p>Basic Info</p>
            </div>

            <div class="table-parent">
                <div style="flex:1">
                    <table class="table custom-table">
                        <tr>
                            <td>
                                <div class="form-group lebels">
                                    @Html.LabelFor(model => model.Name)
                                </div>
                            </td>
                            <td >
                                <div>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group lebels">
                                    @Html.LabelFor(model => model.Ecode)
                                </div>
                            </td>
                            <td >
                                <div>
                                    @Html.TextBoxFor(model => model.Ecode, new { @class = "form-control", @required = "required" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group lebels">
                                    <div>
                                        @Html.LabelFor(model => model.Gender)
                                        
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    @Html.DropDownListFor(model => model.Gender, ViewBag.GenderList as List<SelectListItem>, "Select Gender", new { @class = "form-control", @required = "required" })
                                    
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="flex:1">
                    <table class="table custom-table">
                        <tr>
                            <td style="width: 24%">
                                <div class="form-group lebels">
                                    @Html.LabelFor(model => model.MobileNo)
                                </div>
                            </td>
                            <td style="padding-left: 0.5em;">
                                <div>
                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", @required = "required" })
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 24%">
                                <div class="form-group lebels">
                                    @Html.LabelFor(model => model.Address)
                                </div>
                            </td>
                            <td style="padding-left: 0.5em; ">
                                <div>
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @required = "required" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br />

            <div class="information">
                <p>Additional Info</p>
            </div>

            <div class="table-parent">
                <div style="flex:1">
                    <table class="table custom-table">
                        <tr>
                            <td>
                                <div class="lebels form-group">
                                    @Html.LabelFor(model => model.Department)
                                </div>
                            </td>
                            <td style="padding-left: 3em;" class="form-group">
                                <div>
                                    @Html.DropDownListFor(model => model.Department, ViewBag.DepartmentList as List<SelectListItem>, "Select Department", new { @class = "form-control", @required = "required" })
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="lebels form-group">
                                    @Html.LabelFor(model => model.Designation)
                                </div>
                            </td>
                            <td style="padding-left: 3em;" class="form-group">
                                <div>
                                    @Html.TextBoxFor(model => model.Designation, new { @class = "form-control", @required = "required" })
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>

                <div style="flex:1">
                    <table class="table custom-table">

                        <tr>
                            <td>
                                <div class="lebels form-group">
                                    @Html.LabelFor(model => model.JoiningDate)
                                </div>
                            </td>
                            <td style="padding-left: 3em;" class="form-group">
                                <input type="text" id="joiningDate" name="JoiningDate" class="form-control datepicker" required />
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </div>
        
    }

    <!-- Include the necessary JavaScript file for date picker -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize the date picker
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>
</body>
</html>
