@model SignInSignUp.Models.ProductDetail
@{
    ViewBag.Title = "Details";
}


<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/b4f739a393.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .main_container {
            margin: 2px 0px 2px 15px;
            text-align: center;
        }

        td {
            text-align: left;
        }

        .lebels {
            font-weight: bold;
        }
        .custom-table td {
            padding: 5px;
            border: none !important; /* Remove borders from all table cells and give it higher priority */
        }

        .table-parent {
            padding: 20px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
        }
    </style>
</head> 

<body style="background-color: #F8F3FF" >
    <div class="main_container">
        <h2 class=" mb-4">Product</h2>
        <div class="top-button">
            <a class="btn btn-secondary add_new_vendor" href="@Url.Action("Index", "Products")" role="button">Back To List</a>
        </div>

        <div class="table-parent">
            <div style="flex:1">
                <table class="table custom-table">
                    <tr>
                        <td>
                            <p class="lebels">Product Name :</p>
                        </td>
                        <td style="padding-left: 2em;">
                            <p>@Model.ProductName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="lebels">Product Manufacturer :</p>
                        </td>
                        <td style="padding-left: 2em;">
                            <p>@Model.Manufacturer</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="lebels">Type of Product :</p>
                        </td>
                        <td style="padding-left: 2em;">
                            <p>@Model.ProductType</p>
                        </td>

                    </tr>
                </table>
            </div>
            <div style="flex:1">
                <table class="table custom-table">
                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">Product ID :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.ProductID</p>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">Product Category :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.ProductCategory</p>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">Description :</p>
                        </td>
                        <td style="padding-left: 0.5em; ">
                            <p>@Model.Description </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>