@model SignInSignUp.Models.ProductEdit
@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/AddVendor.css" />
</head>
<body style="background-color: #F8F3FF "">
    @using (Html.BeginForm("Edit", "Products", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="main_container" style="margin-top:5em">
            <div class="container">
                <div class="card">
                    <h2>Edit Product Details</h2>
                    @Html.HiddenFor(model => model.ProductID)
                    <div class="form-group-1">
                        @Html.LabelFor(model => model.ProductName, new { @class = "label" })
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "input-field", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ProductName)
                    </div>

                    <div class="form-group-1">
                        @Html.LabelFor(model => model.Manufacturer, new { @class = "label" })
                        @Html.TextBoxFor(model => model.Manufacturer, new { @class = "input-field", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Manufacturer)
                    </div>

                    <div class="row">
                        <div class="form-group-1">
                            @Html.LabelFor(model => model.Description, new { @class = "label" })
                            @Html.TextBoxFor(model => model.Description, new { @class = "input-field", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductCategory, new { @class = "label", @required = "required" })
                            <select class="select-field" name="ProductCategory" required>
                                <option value="">Product Category</option>
                                <option value="Cloud" @(Model.ProductCategory == "Cloud" ? "selected" : "")>Cloud Infrastructure</option>
                                <option value="Networking @(Model.ProductCategory == "Networking" ? "selected" : "")">Networking</option>
                                <option value="Hardware" @(Model.ProductCategory == "Hardware" ? "selected" : "")>Hardware</option>
                                <option value="Software" @(Model.ProductCategory == "Software" ? "selected" : "")>Software</option>
                                <option value="Others" @(Model.ProductCategory == "Others" ? "selected" : "")>Others</option>
                            </select>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductType, new { @class = "label", @required = "required" })
                            <select class="select-field" id="ProductType" name="ProductType" required>
                                <option value="">Product Type</option>
                                <option value="Application Software" @(Model.ProductType == "Application Software" ? "selected" : "")>Application Software</option>
                                <option value="Database" @(Model.ProductType == "Database" ? "selected" : "")>Database</option>
                                <option value="Operating System" @(Model.ProductType == "Operating System" ? "selected" : "")>Operating System</option>
                                <option value="Web Server" @(Model.ProductType == "Web Server" ? "selected" : "")>Web Server</option>
                                <option value="Others" @(Model.ProductType == "Others" ? "selected" : "")>Others</option>
                            </select>
                        </div>

                        <button class="btn btn-lg btn-primary" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>