@model SignInSignUp.Models.VendorDetails
@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/b4f739a393.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>

        .main_container {
            margin: 0 15px;
            text-align: center;
        }

        td {
            text-align: left;
        }

        .lebels {
            font-weight: bold;
        }

        .custom-table td {
            padding: 5px;
            border: none !important; /* Remove borders from all table cells and give it higher priority */
        }

        .table-parent {
            padding: 20px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
        }

    </style>
</head>

<body style="background-color: #F8F3FF">
    <div class="main_container">
        <h2 class="mb-4">Vendors</h2>
        <div class="top-button">
            <a class="btn btn-secondary add_new_vendor" href="@Url.Action("Index", "Vendors")" role="button">Back To List</a>
        </div>
        <div class="table-parent">
            <div style="flex:1">
                <table class="table custom-table">
                    <tr>
                        <td>
                            <p class="lebels">Vendor Name :</p>
                        </td>
                        <td>
                            <p>@Model.vendorName</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="lebels">Vendor Email :</p>
                        </td>
                        <td>
                            <p>@Model.email</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="lebels">Phone :</p>
                        </td>
                        <td>
                            <p>@Model.phone</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="lebels">Contact Person :</p>
                        </td>
                        <td>
                            <p>@Model.name</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p class="lebels">Country :</p>
                        </td>
                        <td>
                            <p>@Model.country</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="flex:1">
                <table class="table custom-table">
                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">State :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.state</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">City :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.city</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">Zip Code :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.pincode</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">Address :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.address roshantribhuvanguptaroshantribhuvanguptaroshan</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 24%">
                            <p class="lebels">GSTIN :</p>
                        </td>
                        <td style="padding-left: 0.5em;">
                            <p>@Model.gstin</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
