@model SignInSignUp.Models.VendorDetails
@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/b4f739a393.js" crossorigin="anonymous"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <style>
            .body {
                background-color: #f1f1f1;
            }

            .main_container {
                margin: 2px 0px 2px 15px;
                text-align: center;
                /*background-color: ;*/
            }

            .add_new_vendor {
                margin-left: 80%;
                margin-bottom: 20px;
            }
            td{
                text-align:left;
            }
            .lebels{
                font-weight:bold;
            }
            .custom-table {
                border-color: #EDE4FF; /* Replace with the desired color */
            }
        </style>
    </head>
    
    <body style="background-color: #F8F3FF ">
        <div class="main_container">
            <h2 class=" mb-4">Vendors</h2>
            <a class="btn btn-secondary add_new_vendor" href="@Url.Action("Index", "Vendors")" role="button">Back To List</a>
            <table class="table table-bordered custom-table">
               
                <tr class="row">
                    <td class="col"  style="padding:2em 0 2em 2em">
                        <table>
                            <tr >
                                <td>
                                    <p class="lebels">Vendor Name :</p>
                                </td>
                                <td style="padding-left: 3em;">
                                    <p>@Model.vendorName</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="lebels">Vendor Email :</p>
                                </td>
                                <td style="padding-left: 3em;">
                                    <p>@Model.email</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="lebels">Phone :</p>
                                </td>
                                <td style="padding-left: 3em;">
                                    <p>@Model.phone</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="lebels">Contact Person :</p>
                                </td>
                                <td style="padding-left: 3em;">
                                    <p>@Model.name</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="lebels">Country :</p>
                                </td>
                                <td style="padding-left: 3em;">
                                    <p>@Model.country</p>
                                </td>
                            </tr>
                        </table>
                    </td>


                    <td class="col" style="padding:2em 0 2em 2em">
                        <table>
                            <tr>
                                <td style="width: 24%">
                                    <p class="lebels">State :</p>
                                </td>
                                <td style="padding-left: 0.5em;">
                                    <p>@Model.state</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 24%">
                                    <p class="lebels">City :</p>
                                </td>
                                <td style="padding-left: 0.5em;">
                                    <p>@Model.city</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 24%">
                                    <p class="lebels">Zip Code :</p>
                                </td>
                                <td style="padding-left: 0.5em;">
                                    <p>@Model.pincode</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 24%">
                                    <p class="lebels">Address :</p>
                                </td>
                                <td style="padding-left: 0.5em; ">
                                    <p>@Model.address </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 24%">
                                    <p class="lebels">GSTIN :</p>
                                </td>
                                <td style="padding-left: 0.5em;">
                                    <p>@Model.gstin</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </body>

</html>