@model SignInSignUp.Models.Asset
@{
    ViewBag.Title = "Add";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/b4f739a393.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .body {
            background-color: #f1f1f1;
        }

        .main_container {
            margin: 2px 0px 2px 15px;
            text-align: center;
            /*background-color: ;*/
        }

        .add_new_vendor {
            margin-left: 80%;
            margin-bottom: 20px;
        }

        td {
            text-align: left;
        }

        .lebels {
            font-weight: bold;
        }

        .custom-table {
            border-color: #EDE4FF; /* Replace with the desired color */
        }
        .add_new_vendor {
            margin-left: 80%;
            margin-bottom: 20px;
        }
    </style>
</head>

<body style="background-color: #F8F3FF ">
    @using (Html.BeginForm("Add", "Assets", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="main_container">
            <h2 class=" mb-2 mt-3">Add New Asset</h2>
            <a class="btn btn-secondary add_new_vendor" href="@Url.Action("Index", "Assets")" role="button">Back To List</a>
            <table class="table table-bordered custom-table">
                <tr class="row levels">
                    <td style="font-weight: bold; background-color: #F6F1FF">Basic Info</td>
                </tr>
                <tr class="row">
                    <td class="col col-xs-12 col-sm-12 col-md-6" style="padding:2em 0 2em 2em">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group lebels">
                                        @Html.LabelFor(model => model.AssetName)
                                    </div>
                                </td>
                                <td style="padding-left: 3em;">
                                    <div>
                                        @Html.TextBoxFor(model => model.AssetName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group lebels">
                                        @Html.LabelFor(model => model.ProductCategory)
                                    </div>
                                </td>
                                <td style="padding-left: 3em;">
                                    <div>
                                        @Html.DropDownListFor(model => model.ProductCategory, new SelectList(Model.ProductCategories), "Select Product Category", new { @class = "form-control", id = "productCategoryDropdown" })
                                        @Html.ValidationMessageFor(model => model.ProductCategory, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group lebels">
                                        <div>
                                            @Html.LabelFor(model => model.ProductId)
                                        </div>
                                    </div>
                                </td>
                                <td style="padding-left: 3em;">
                                    <div>
                                        @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "ProductId", "ProductName"), "Select Product", new { @class = "form-control", id = "productDropdown" })
                                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>


                    <td class="col col-xs-12 col-sm-12 col-md-6" style="padding:2em 0 2em 2em">
                        <table>
                            <tr>
                                <td style="width: 24%">
                                    <div class="form-group lebels">
                                        @Html.LabelFor(model => model.SerialNumber)
                                    </div>
                                </td>
                                <td style="padding-left: 0.5em;">
                                    <div>
                                        @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 24%">
                                    <div class="form-group lebels">
                                        @Html.LabelFor(model => model.Description)
                                    </div>
                                </td>
                                <td style="padding-left: 0.5em; ">
                                    <div>
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered custom-table mt-5">
                <tr class="row levels">
                    <td style="font-weight: bold; background-color: #F6F1FF">Additional Info</td>
                </tr>
                <tr class="row">
                    <td class="col col-xs-12 col-sm-12 col-md-6" style="padding:2em 0 2em 2em">
                        <table>
                            <tr>
                                <td>
                                    <div class="lebels form-group">
                                        Vendor
                                    </div>
                                </td>
                                <td style="padding-left: 3em;" class="form-group">
                                    <div>
                                        @Html.DropDownListFor(model => model.VendorId, new SelectList(Model.Vendors, "VendorId", "VendorName"), "Select Vendor", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.VendorId)
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div>
                                        @*@Html.LabelFor(model => model.)*@
                                    </div>
                                </td>
                                <td style="padding-left: 3em;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @*<p class="lebels">Type of Product :</p>*@
                                </td>
                                <td style="padding-left: 3em;">
                                    @*<p>@Model.ProductType</p>*@
                                </td>
                            </tr>
                        </table>
                    </td>


                    <td class="col col-xs-12 col-sm-12 col-md-6" style="padding:2em 0 2em 2em">
                        <table>

                            <tr>
                                <td>
                                    <div class="lebels form-group">
                                        @Html.LabelFor(model => model.Price)
                                    </div>
                                </td>
                                <td style="padding-left: 3em;" class="form-group">
                                    <div>
                                        @Html.TextAreaFor(model => model.Price, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Price)
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 24%">
                                    @*<p class="lebels">Description :</p>*@
                                </td>
                                <td style="padding-left: 0.5em; ">
                                    @*<p>@Model.Description </p>*@
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    }
</body>

</html>
<script>
    $(document).ready(function () {
        $('#productCategoryDropdown').change(function () {
            var category = $(this).val();
            var productDropdown = $('#productDropdown');

            $.ajax({
                url: '@Url.Action("GetProductsByCategory", "Assets")',
                type: 'GET',
                data: { category: category },
                success: function (data) {
                    productDropdown.empty();

                    if (data.length > 0) {
                        $.each(data, function (index, item) {
                            productDropdown.append($('<option></option>').val(item.ProductId).text(item.ProductName));
                        });
                    }
                    else {
                        productDropdown.append($('<option></option>').text('No Products'));
                    }
                }
            });
        });
    });
</script>
