
@{
    ViewBag.Title = "AssignedAssets";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>

        .main_container {
            margin: 2px 0px 2px 15px;
            text-align: center;
            /*background-color: ;*/
        }

        .add_new_product {
            margin-left: 80%;
            margin-bottom: 20px;
        }

        .custom-table {
            border: 2px solid #EDE4FF;
        }

            .custom-table thead th {
                background-color: #F6F1FF;
            }

        .border {
            border-color: #EDE4FF;
        }
    </style>
</head>

<body style="background-color: #F8F3FF ">
    <div class="main_container">
        <h2 class="mb-4">Assigned Assets</h2>
        <div>
            <a class="btn btn-secondary add_new_product" href="@Url.Action("Add", "Assets")" role="button">Add New Asset</a>
        </div>
        <table class="table table-bordered custom-table border-4">
            <thead class="thead border-4">
                <tr>
                    <th scope="col" class="border">S.No</th>
                    <th scope="col" class="border">Asset Name</th>
                    <th scope="col" class="border">Department</th>
                    <th scope="col" class="border">Assigned To</th>
                    <th scope="col" class="border">Assign</th>
                    <th scope="col" class="border">Action</th>
                </tr>
            </thead>
            <tbody>
                @*@for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr class="border-2">
                            <th scope="row" class="border">@(i + 1) </th>
                            <td class="border">@Model[i].ProductName</td>
                            <td class="border">@Model[i].ProductType</td>
                            <td class="border">@Model[i].ProductCategory</td>
                            <td class="border">
                                <a href="@Url.Action("Details", "Products", new { id = Model[i].ProductID })" style="color: #A076F9; "> <i class="fa-regular fa-eye"></i></a>
                                <a href="@Url.Action("Edit", "Products", new { id = Model[i].ProductID })" style="color: #A076F9; "> <i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="#" class="delete-btn" data-vendorid="@Model[i].ProductID" data-toggle="modal" data-target="#myModal" style="color: #A076F9; "> <i class="fa-sharp fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Add your content here -->
                    <p>Are you sure you want to delete the following vendor?</p>

                    <table>
                        <tr>
                            <th>Product ID:</th>
                            <td id="vendorId"></td>
                        </tr>
                        <tr>
                            <th>Product Name:</th>
                            <td id="vendorName"> </td>
                        </tr>
                        <!-- Include other vendor details as needed -->
                    </table>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteConfirmed", "Products", FormMethod.Post))
                    {
                        @Html.Hidden("id", null, new { id = "deleteVendorId" })
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('.delete-btn').click(function () {
                var vendorId = $(this).data('vendorid');
                $('#deleteVendorId').val(vendorId);
                $('#vendorId').text(vendorId);
                $('#vendorName').text($(this).closest('tr').find('td:nth-child(2)').text());
                //$('#myModal').modal('show');
            });
        });
    </script>

</body>
</html>
